//*********  MOBILE XSM 15px ********
@media only screen and (max-width: 767px) {
	.hidden-xs {
		display: none !important;
	}//hidden-xs
	.container {
		padding: 40px 15px 45px;
	}//container
	header {
		.bar-header {
			text-align: center;
			.logo {
				padding-right: 0px;
				font-size: 2.7rem;
			}//logo
		}//bar-header
		nav {
			ul {
				max-width: 360px;
			}//ul
			li {
				width: 33%;
				height: 40px;
				text-align: center;
				&:hover a, a.active {
					color: $ocre;
				}//hover active
			}//li
		}//nav
	} //header
	header.cases-head {
		li{
			width: 50%;
			&:first-child {
				text-align: left;
			}
			&:last-child {
				text-align: right;
			}
		}
	}//caseshead
	#branding {
		background: url('../img/xsm/hero-bgd.png') no-repeat top center;
		.container {
			padding-top: 125px;
		}//container
		.brand {
			width: 100%;
			max-width: 450px;
			h1 {
				font-size: 2.3rem;
				&:first-letter {
	      	font-size: 3rem;
	      }//first-letter
			}//h1
		}//brand
		span {
			font-size: 1.4rem;
		}//span
	}//branding
	main{
		li.section {
			h1 {
				font-size: 1.8rem;
				margin-bottom: 20px;
			}//h1
		}//li
	}//main
	#services {
		.blurb {
			max-width: 500px;
			margin: 0px auto;
			padding: 20px;
		}//blurb
		ul {
			line-height: 2rem;
			li {
				margin-bottom: 2rem;
			}//li
		}//ul
	}//services
	#about {
		background: url('../img/xsm/about.png') no-repeat center top;
		h1 {
			margin: 100px 25px 50px 40%;
			float: right;
		}//h1
		.row {
			padding: 40px 0px;
		}//row
		.blurb {
			padding: 0px;
		}//blurb
	}//about
	#caseWall {
		.container {
			padding: 40px 0px;
		}//container
		.frame {
			height: 140px;
			padding: 10px 5px;
			border-bottom: 1px solid $dark;
			overflow: hidden;
			a {
				color: $dark;
			}//a
		}//frame 
		.details {
			position: relative;
			min-height: 120px;
			padding-left: 125px;
			padding-right: 25px;
			text-align: left;
			font-size: 1.2rem;
			&:before {
				content:'';
				position: absolute;
				left: 0px;
				display: block;
				width: 120px;
				height: 120px;
				border: 1px solid $darker;
				background: $darkest url(../img/xsm/sprites.png) no-repeat;
			}//:before
			&:after {
				content: '\e080';
				position: absolute;
				right: 5px;
				top: 50px;
				font-family: 'Glyphicons Halflings';
				font-size: 2rem;
			}//after
		}//details
		li:first-child {
			font-weight: bold;
		}//li
		#girl {
			.details:before {
				background-position: 0px 0px;
				}		
		}//girl
		#elephant {
			.details:before {
				background-position: -120px 0px;
			}
		}//elephant
		#street {
			.details:before {
				background-position: -240px 0px;
			}
		}//st
		#landscape {
			.details:before {
				background-position: -360px 0px;
			}
		}//landscape
		#bird {
			.details:before {
				background-position: -480px 0px;
			}		
		}//bird
		#mrsPitt  {
			.details:before {
				background-position: 0px -120px
			}
		}//mrsPitt
		#virgin  {
			.details:before {
				background-position: -120px -120px
			}
		}//virgin
		#lilacs {
			.details:before {
				background-position: -240px -120px
			}
		}//lilacs
		#womanPortrait {
			.details:before {
				background-position: -360px -120px
			}	
		}//woman
		#saints {
			.details:before {
				background-position: -480px -120px;
			}
		}//saints
		#manPortrait {
			.details:before {
				background-position: -600px -120px
			}
		}//manPortrait
	}//casewall
	footer {
		position: fixed;
		bottom: 0px;
		z-index: 1000;
		width: 100%;
		height: 40px;
		padding: 0px;
		margin: 0px;
		-webkit-box-shadow: 0px -2px 2px 1px rgba(0, 0, 0, 0.3);
		-moz-box-shadow:    0px -2px 2px 1px rgba(0, 0, 0, 0.3);
		box-shadow:         0px -2px 2px 1px rgba(0, 0, 0, 0.3);
		cursor: pointer;
		@include transition();
		&.open {
			height: 100px;
			@include transition();
		}
		.container {
			padding: 0px;
		}
		nav {
			position: relative;
			top: 0px;
			width: 100%;
			padding: 0px;
			margin: 0px;
			h5 {
				margin: 7px auto;
			}
			ul {
				overflow: hidden;
				li {
					position: relative;
					width: 25%;
					height: 40px;
					float: left;
					
					&:after {
					content: '';
					position: absolute;
					top: 5px;
					left: 35%;
					font-family: 'Glyphicons Halflings';
					font-size: 2rem;
					color: $off;
					}//after
					&#call:after {
						content: '\e182';
					}
					&#text:after {
						content: '\e111';
					}
					&#emailUs:after {
						content: '\2709';
					}
					&#showMap:after {
						content: '\e062';
					}
					
				}//li
			}//ul
			a {
				position: relative;
				z-index: 1500;
				display: block;
				width: 100%;
				height: 100%;
				text-align: center;
				color: #fff;
				text-indent: -9999px;
				border-radius: 10px;
				&:hover {
						background-color: transparentize($sand,0.8);
					}
			}//a
		}//nav
		h6 {
			display: none;
		}//h6
	}//footer
	#pageContent {
		padding-top: 80px;
		.container {
			position: relative;
			width: 100%;
		}//container
	}//pageContent

	aside.caseMenu {
		position: absolute;
		top: -200%;
		right: 0px;
		width: 100%;
		margin: 0px;
		background-color: rgba(247, 246, 244, 0.95);
		@include transition();
		&.open {
			top: 0px;
			@include transition();
		}	
		h4, .thumb {
			display: none;
		}
		li {
			height: auto;
			&:hover {
				background-color: $sand;
			}
		}
		h5 {
			margin: 0px;
		}
	}//aside
	main.caseContent {
		width: 100%;
		.segment,
		.segment.third {
			width: 100%;
		}//segment
	}//main


	@media (orientation: landscape) {
		.container {
			padding-top: 100px;
		}	//landscape
	}//landscape
}// media mobile


//*********  KINDLE  SM ********
@media (min-width: 768px) {
	.mobile-only {
		display: none !important;
	}
	@media only screen and (max-width: 1199px){
		.hidden-sm {
			display: none !important;
		}//hidden-sm
		.container {
			padding-top: 100px;
		}//container
		#about {
			.blurb {
				height: 100%;
				border-top: none;
				border-bottom: none;
			}//blurb
		}//about
	}//media only
	
	header {
		overflow: hidden;
		height: 50px;
		.bar-header, nav {
			width: 40%;
			float: left;
		}//bar-header nav
		nav {
			width: 60%;
			ul{
				float: right;
				width: 100%;
				max-width: 500px;
			}//ul
			li {
				width: auto;
				height: 50px;
				padding: 15px 15px 0px;
				&:hover {
					background-color: $darker;
				}//hover
			}//li
		}//nav
	}//header
	#branding {
		background-image: url('../img/sm/hero-bgd.png');
	}//branding
	main {
		h1{
			margin-bottom: 50px;
		}//h1
	}//main
	#services {
		.row { 
			max-width: 850px;
			height: 402px;
			margin: 0px auto;
			background: url('../img/sm/services.png') no-repeat right top;
			border: 1px solid $dark;
		}//row
		.blurb {
			width: 50%;
			min-height: 400px;
			float: left;
			padding: 20px;
			color: #fff;
			background-color: transparentize($darker, 0.1);
			@include transition();
			ul {
				margin-top: 20px;
			}//ul
		}//blurb
	}//services
	#about {
		background: url('../img/sm/about.png') no-repeat center top;
		padding: 0px;
		.container {
			padding: 0px 15px;
		}//container
		h1, .row {
			float: left;
		}// h1 row
		h1{
			width: 35%;
			padding: 75px 10px;
			margin: 0px 5% 0px 5%;
		}//h1
		.row {
			width: 55%;
			padding-top: 0px;
			margin-top: 0px;
		}//row
		.blurb {
			padding: 70px 10px 20px;
			background-color:transparentize( $sand, 0.4);
			border: 1px solid $zepia;
			@include shadow(); 
		}//blurb
	}//about
	#caseWall {
		.container {
			padding: 100px 10px 50px;
		}//container
	}//casewall
	#picWall {
		position: relative;
		width: 725px;
		height: 750px;	
		margin: 20px auto;
		.frame {
			position: absolute;
			top: 0px;
			left: 0px;
			padding: 0px;
			border: 2px solid $darkest;
			background: $darkest url('../img/sprites.png') no-repeat;
			@include shadow();
			@include transition();
			.details {
				position: relative;
				overflow: hidden;
				width: 100%;
				height: 100%;
				padding: 0px;
				&:before, &:after {
					display: none;
				}
				ul {
					position: absolute;
					bottom: -100%;
					width: 100%;
					padding: 5px 3px;
					background-color: transparentize($darker, 0.2);
					color: #fff;
					font-size: 1.1rem;
					@include transition();
				}//ul
				&:hover ul {
					bottom: 0px;
					@include transition();
				}//:hover ul
			}//details
		}//frame
		#girl {
			top: 15px;
			left: 0px;
			width: 205px;
			height: 229px;
			background-position: 0px 0px;
		}//girl
		#elephant {
			top: 70px;
			left: 217px;
			width: 155px;
			height: 123px;
			background-position: -210px 0px;
		}//elephant
		#street {
			top: 0px;
			left: 385px;
			width: 160px;
			height: 240px;
			background-position: -371px 0px;
		}//st
		#landscape {
			top: 255px;
			left: 385px;
			width: 290px;
			height: 184px;
			background-position: -536px 0px;
		}//landscape
		#bird {
			top: 420px;
			left: 25px;
			width: 179px;
			height: 229px;
			background-position: -830px 0px;
		}//bird
		#mrsPitt  {
			top: 450px;
			left: 525px;
			width: 190px;
			height: 200px;
			background-position: 0px -245px;
		}//mrsPitt
		#virgin  {
			top: 445px;
			left: 220px;
			width: 146px;
			height: 200px;
			background-position: -215px -245px;
		}//virgin
		#lilacs {
			top: 255px;
			left: 20px;
			width: 185px;
			height: 150px;
			background-position: -370px -245px;
		}//lilacs
		#womanPortrait {
			top: 208px;
			left: 215px;
			width: 158px;
			height: 231px;
			background-position: -556px -245px;
		}//woman
		#saints {
			top: 40px;
			left: 555px;
			width: 169px;
			height: 200px;
			background-position: -722px -250px;
		}//saints
		#manPortrait {
			top: 450px;
			left: 385px;
			width: 128px;
			height: 157px;
			background-position: -900px -245px;
		}//manPortrait
	}//picWall
	footer {
		.container {
			padding-top: 60px;
		}//container
		h6 {
			margin: 120px auto 30px;
			color: $sand;
		}//h6
	}//footer
	#testimonials {
		width: 90%;
		height: 200px;
		margin: 50px auto;
		.carousel-inner {
			width: 90%;
			margin: 0px auto;
		}
		.glyphicon {
			color: $sand;
		}
	}//testimonials
	#contact {
		background: $sand url('../img/mappin.png') no-repeat center top;
		overflow: hidden;
		max-width: 950px;
		max-height: 460px;
		div.contact-form {
			width: 40%;
			float: right;
			background-color: transparentize($dark, 0.6);
			color: $dark;
			div {
				margin: 10px 10px 10px 10px;
				border: 1px solid $dark;
			}//div
		}//li.contact-form
		form {
			width: 90%;
			margin: 0px auto 10px;
			label, input {
				display: block;
				float: left;
			}//label, input
			label {
			width: 15%;
			margin:0px 5px;
			}//label
			input[type='text'],
			input[type='email'] {
				width: 75%;
				border-bottom: 1px solid $dark;
				padding: 0px 3px 0px;
				margin-bottom: 10px;
			}//input
			textarea {
				width: 100%;
				height: 180px;
				border: 1px solid $dark;
				padding: 3px;
				margin-top: 15px;
	  		border-radius: 5px;
	  		background-color: transparentize($sand, 0.7);
				}//textarea
			::-webkit-input-placeholder {
			   color: $dark;
			   font-family: 'Cinzel Decorative', cursive;
			}
			:-moz-placeholder { /* Firefox 18- */
			   color: $dark;
			   font-family: 'Cinzel Decorative', cursive;  
			}
			::-moz-placeholder {  /* Firefox 19+ */
			   color: $dark;
			   font-family: 'Cinzel Decorative', cursive;  
			}
			:-ms-input-placeholder {  
			   color: $dark;
			   font-family: 'Cinzel Decorative', cursive;  
			}
			[placeholder]:focus::-webkit-input-placeholder {
			  transition: opacity 0.3s 0.3s ease; 
			  opacity: 0;
			}
			input[type='submit']{
				float: none;
				padding: 5px 30px;
				margin: 10px auto;
				border: 1px solid transparent;
				border-radius: 10px;
				@include transition();
				&:hover {
					background-color: transparentize($dark, 0.1);
					color: $off;
					border-color: $off;
					@include transition();
				}//hover
			}//input submit
		}//form	
	}//contact
	#pageContent {
		position: relative;
		padding-top: 60px;
	}//pageContent
	aside.caseMenu {
		position: absolute;
		width: 250px;
	}//aside
	@media only screen and (max-width: 1199px){
		aside.caseMenu {
			left: -270px;
			@include transition();
			&.show {
				left: -20px;
				@include transition();
			}
			h4{
				position: absolute;
				top: 81px;
				right: -118px;
				width: 200px;
				padding: 5px;
				margin: 0px;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				background-color: $darker;
				color: #fff; 
				-webkit-transform: rotate(-90deg);
				-moz-transform: rotate(-90deg);
				-ms-transform: rotate(-90deg);
				-o-transform: rotate(-90deg);
				filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
				@include shadow();
			}//h4
		}//aside
	}//media only
	#caseList {
		> li {
			overflow: hidden;
			height: 90px;
			opacity: 0.7;
			@include transition();
			> div {
				float: left;
			}
		}//li
		.thumb {
			width: 70px;
			height: 70px;
			margin: 5px 10px 0px 5px;
			border: 1px solid $darkest;
			background: $darkest url(../img/xsm/sprites.png) no-repeat;
			background-size: 600%;
			@include transition();
		}//thumb
		h5 {
			width: 95%;
		}//h5
	}//caselist
	#thElephant	.thumb {
		background-position: -68px 0px;
	}
	#thStreet	.thumb {
		background-position: -136px 0px;
	} 
	#thLandscape	.thumb {
		background-position: -204px 0px;
	}
	#thBird	.thumb {
		background-position: -272px 0px;
	}
	#thPitt	.thumb {
		background-position: 0px -68px;
	}
	#thVirgin	.thumb {
		background-position: -68px -68px;
	}
	#thLilacs	.thumb {
		background-position: -136px -68px;
	}
	#thWoman	.thumb {
		background-position: -204px -68px;
	}
	#thSaints	.thumb {
		background-position: -272px -68px;
	}
	#thMan	.thumb {
		background-position: -340px -68px;
	}
	main.caseContent {
		width: 70%;
		margin-left: 15%;
		.segment {
			width: 50%;
			float: left;
			&.third {
				width: 33%;
			}//third
		}//segment
	}//main

}// media kindle


//*********  iPAD  MD  ********
@media only screen and (min-width: 900px) {
  #branding {
		background: $darkest url('../img/lg/hero-bgd.png') no-repeat center top;
	}//branding
	main {
		li.section {
			p {
				padding: 0px 15px;
			}//p
		}//li.section
	}//main
	#services {
		.blurb {
			@include transition();
			h5 {
				display: inline;
				padding: 20px 20px 3px;
				border-bottom: 1px solid #fff;
			}//h5
		}//blurb
	} //services
	#about {
		background: url('../img/lg/about.png') no-repeat center top;
	} //about
} // media ipad


//*********  LAPTOP  LG ********
@media (min-width: 1200px) {
	.container {
		padding: 145px 15px 75px;
	}//container
	#intro {
		.row {
			overflow: hidden;
			div {
				width: 50%;
				float: left;
				p {
				text-align: left;
				padding: 10px 20px;
				}//p
			}//div
		}//row
	}//intro
	#services {
		.row {
			width: 1170px;
			max-width: 1170px;
			height: 550px;
			background: url('../img/lg/services.png') no-repeat top right;
			.blurb {
				height: 550px;
				padding-top: 50px;
			}
			h5 {
				padding-top: 50px;
			}
		}//row
	}//services
	#about {
		h1, .row {
			width: 50%;
			margin: 0px;
		}// h1 row
	} //about
	#contact {
		li.contact-form {
			h5 {
				margin: 30px;
			}//h5
		}//contact-form
	}//contact
	#picWall {
		width: 1100px;
		height: 525px;
		.frame {
			background: $darkest url('../img/lg/sprites.png') no-repeat;
			@include transition();
		}//frame
		#girl {
			top: 0px;
			left: 0px;
		}//girl
		#elephant {
			top: 60px;
			left: 220px;
		}//elephant
		#street {
			top: 0px;
			left: 395px;
		}//street
		#landscape {
			top: 35px;
			left: 575px;
		}//landscape
		#bird {
			top: 15px;
			left: 890px;
		}//bird
		#mrsPitt  {
			top: 245px;
			left: 15px;
		}//mrsPitt
		#virgin  {
			top: 215px;
			left: 220px;
		}//virgin
		#lilacs {
			top: 260px;
			left: 380px;
		}//lilacs
		#womanPortrait {
			top: 240px;
			left: 580px;
		}//woman
		#saints {
			top: 260px;
			left: 755px;
		}//saints
		#manPortrait {
			top: 260px;
			left: 940px;
		}//manPortrait
	}//picWall
	#pageContent {
		.container {
			overflow: hidden;
		}//container
		aside,main {
			float: left;
			position: relative;
		}//aside main
	}//pageContent
	aside.caseMenu {
		width: 25%;
	}//aside
	main.caseContent {
	width: 70%;
	margin-left: 0;
	}//main
}// media laptop


//*********  SCREEN  xLG ********
@media (min-width: 1680px) {
	body { 
		text-align: center;
		.container {
			width: 1280px !important;
			margin-left: auto !important;
			margin-right: auto !important;
		}//div
	}//body
	#branding {
		background-image: url('../img/xlg/hero-bgd.png');
	}//branding
	#services {
		.row {
			background: url('../img/xlg/services.png') no-repeat top right;
		}//row
	}//services
	#about {
		background: $sand url('../img/xlg/about.png') no-repeat center top;
	} //about
}// media screen






//